.ol-changeLayer-wrapper {
  position: absolute !important;
  left: 3rem !important;
  top: 6rem !important;
  z-index: 100 !important;
  display: flex !important;
  flex-direction: row !important;
  gap: 0.5rem !important;
}

.ol-MapControl-wrapper {
  position: absolute !important;
  right: 3rem !important;
  top: 6rem !important;
  z-index: 100 !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 0.5rem !important;
}

.ol-search-wrapper {
  width: 300px;
  height: 150px;
  position: absolute !important;
  right: 10rem !important;
  top: 7rem !important;
  z-index: 100 !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 0.5rem !important;
  background-color: #fff;
  border-width: 1px;
  border-color: black;
  padding: '2px';
}